---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: pystol-ui
  namespace: pystol
spec:
  selector:
    matchLabels:
      name: pystol-ui
      component: pystol-ui
  replicas: 1
  template:
    metadata:
      labels:
        name: pystol-ui
        component: pystol-ui
    spec:
      containers:
        - name: pystol-ui
          image: {{ appSettings.pystol.ui.image }}
          ports:
            - containerPort: {{ appSettings.pystol.ui.port }}
          command: ["flask"]
          args: ["run"]
          imagePullPolicy: Always
          env:
            - name: FLASK_APP
              valueFrom:
                configMapKeyRef:
                  key: PYSTOL_UI_FLASK_APP
                  name: pystol-config
            - name: FLASK_RUN_PORT
              valueFrom:
                configMapKeyRef:
                  key: PYSTOL_UI_PORT
                  name: pystol-config
            - name: FLASK_RUN_HOST
              valueFrom:
                configMapKeyRef:
                  key: PYSTOL_UI_HOST
                  name: pystol-config
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
      serviceAccountName: pystol
