{% extends "base-site.html" %}

{% block title %} About Pystol {% endblock %} 

{% block content %}

    <div class="container-fluid">
        <div class="fade-in">
          <div class="row">
            <div class="col-sm-12 col-xl-12">
              <div class="card">
                <div class="card-header"> Pystol F.A.Q</div>
                <div class="card-body vh-100">

    <div id="cy"></div>

                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

{% endblock content %}

{% block javascripts %}

    <!--
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    -->

    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=Promise,fetch"></script>
    <script src="https://unpkg.com/cytoscape/dist/cytoscape.min.js"></script>
    <script src="https://unpkg.com/webcola/WebCola/cola.min.js"></script>
    <script src="https://cytoscape.org/cytoscape.js-cola/cytoscape-cola.js"></script>

<!--

    <script src="https://cdn.rawgit.com/cytoscape/cytoscape.js-cose-bilkent/1.6.5/cytoscape-cose-bilkent.js"></script>
    <script src="https://cdn.rawgit.com/cpettitt/dagre/v0.7.4/dist/dagre.min.js"></script>
    <script src="https://cdn.rawgit.com/cytoscape/cytoscape.js-dagre/1.5.0/cytoscape-dagre.js"></script>
-->


    <!--
    <script>
    $( document ).ready( draw );
    </script>
    -->
    <!--
    <script src="/static/assets/js/graph.js"></script>
    -->


    <script>

var cy = window.cy = cytoscape({
  container: document.getElementById('cy'),
  layout: {
    animate: true,
 //   name: 'cose-bilkent',
//    name: 'dagre',
    name: 'cola',
    flow: { axis: 'y', minSeparation: 50 },
    avoidOverlap: true,

//Custom
 refresh: 1, // number of ticks per frame; higher is faster but more jerky
  maxSimulationTime: 4000, // max length in ms to run the layout
  ungrabifyWhileSimulating: false, // so you can't drag nodes during layout
  fit: true, // on every layout reposition of nodes, fit the viewport
  nodeDimensionsIncludeLabels: true, // whether labels should be included in determining the space used by a node


  },
  style: [
    {
      selector: 'node',
      style: {
        'background-color': 'blue',
        'label': 'data(label)',
        'text-halign': 'center',
        'text-valign': 'center',
        'width': 'label',
        'height': 'label',
        'padding': '15px',
        'background-blacken': '-0.25',
        'border-style': 'solid',
        'border-width': '1',
        'border-color': 'black'
      }
    },
    {
      selector: ':parent',
      style: {
        // 'color': 'black',
        'font-weight': 'bold',
        'background-opacity': 0.075,
        'content': 'data(label)',
        'text-valign': 'top',

      }
    },

    {
      selector: 'edge',
      style: {
        'width': 3,
        'line-color': 'black',
        'target-arrow-shape': 'triangle',
        'target-arrow-color': 'black',
        'curve-style': 'bezier',
        // 'control-point-step-size': 40,
        'arrow-scale': 2
      }
    },
    {
      selector: '.input',
      style:{
        'background-color': 'green',
        'background-opacity': '0.3',
        'shape': 'polygon',
        'shape-polygon-points': '-1 1 -0.65 0 -1 -1 1 -1 1 1'
      }
    },
    {
      selector: '.output',
      style:{
        'background-color': 'red',
        'background-opacity': '0.3',
        'shape': 'polygon',
        'shape-polygon-points': '-1 1 -1 -1 0.5 -1 1 0 0.5 1'
      }
    },
    {
      selector: '.local',
      style:{
        'background-color': 'blue',
        'background-opacity': '0.3',
        'shape': 'rectangle'
      }
    },
    {
      selector: '.state',
      style:{
        'background-color': 'yellow',
        'shape': 'ellipse',
        'border-width': '0',
        'border-color': 'white',
        'border-opacity': '0',
        'width': '80px',
        'height': '80px'
      }
    },







    {
      selector: '.pod',
      style:{
        'background-color': 'white',
        'background-image': "url(/static/assets/graph/pod.svg)",
        'background-opacity': '0.7',
        'shape': 'ellipse',
        'border-width': '0',
        'border-color': 'white',
        'border-opacity': '0',
        'width': '80px',
        'height': '80px',
        'text-valign': 'top',
        'text-halign': 'center'
      }
    },
    {
      selector: '.svc',
      style:{
        'background-color': 'white',
        'background-image': "url(/static/assets/graph/svc.svg)",
        'background-opacity': '0.7',
        'shape': 'ellipse',
        'border-width': '0',
        'border-color': 'white',
        'border-opacity': '0',
        'width': '80px',
        'height': '80px',
        'text-valign': 'top',
        'text-halign': 'center'
      }
    },
    {
      selector: '.deploy',
      style:{
        'background-color': 'white',
        'background-image': "url(/static/assets/graph/deploy.svg)",
        'background-opacity': '0.7',
        'shape': 'ellipse',
        'border-width': '0',
        'border-color': 'white',
        'border-opacity': '0',
        'width': '80px',
        'height': '80px',
        'text-valign': 'top',
        'text-halign': 'center'
      }
    },



    {
      selector: '.transition',
      style:{
      }
    },
    {
      selector: '.update',
      style:{
        'line-style': 'dashed'
      }
    },
    {
      selector: '.influence',
      style:{
      }
    }
  ],
  elements: {{ cluster_graph | tojson }}
});







    </script>

    <script>
    $( document ).ready( cytoscape );
    </script>




<!-- Specific Page JS goes HERE  -->
{% endblock javascripts %}

{% block stylesheets %}
  <style type="text/css">
#cy {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
}
  </style>
{% endblock stylesheets%}
