{% extends "base-site.html" %}

{% block title %} Dashboard {% endblock %}

{% block content %}

    <div class="container-fluid">
      <div class="fade-in">




        <!-- /.row-->
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">Pods distribution</div>
              <div class="card-body">
                <div class="row">

                  <!-- /.col-->
             {% for node in hexagons_data %}
                  <div class="col-sm-6 col-lg-4">
                    <div class="card">
                      <div class="card-header">{{ node.name }}
                        <div class="card-header-actions"><a class="card-header-action" href="http://www.chartjs.org" target="_blank"><small class="text-muted">xxxxxxx</small></a></div>
                      </div>
                      <div class="card-body">
                        <div class="c-chart-wrapper">
                          <div class="honeycombs">
                          {% for pod in node.pods %}
                          <!--<p>{{ pod.phase }}</p>-->
                            <div class="comb">
                              <div class="front-content">
                                <p></p>  
                              </div>
                              <div class="back-content">
                                <p></p>
                              </div>
                            </div>
                          {% endfor %}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              {% endfor %}
                  <!-- /.col-->
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.row-->















        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">Nodes utilization</div>
              <div class="card-body">
                <div class="row">

                  <!-- /.col-->
                  <div class="col-sm-6 col-lg-4">
                    <div class="card">
                      <div class="card-header">Radar Chart
                        <div class="card-header-actions"><a class="card-header-action" href="http://www.chartjs.org" target="_blank"><small class="text-muted">docs</small></a></div>
                      </div>
                      <div class="card-body">
                        <div class="c-chart-wrapper">
                          <canvas id="node-01"></canvas>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- /.col-->
                  <!-- /.col-->
                  <div class="col-sm-6 col-lg-4">
                    <div class="card">
                      <div class="card-header">Radar Chart
                        <div class="card-header-actions"><a class="card-header-action" href="http://www.chartjs.org" target="_blank"><small class="text-muted">docs</small></a></div>
                      </div>
                      <div class="card-body">
                        <div class="c-chart-wrapper">
                          <canvas id="node-02"></canvas>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- /.col-->
                  <!-- /.col-->
                  <div class="col-sm-6 col-lg-4">
                    <div class="card">
                      <div class="card-header">Radar Chart
                        <div class="card-header-actions"><a class="card-header-action" href="http://www.chartjs.org" target="_blank"><small class="text-muted">docs</small></a></div>
                      </div>
                      <div class="card-body">
                        <div class="c-chart-wrapper">
                          <canvas id="node-03"></canvas>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- /.col-->
                  <!-- /.col-->
                  <div class="col-sm-6 col-lg-4">
                    <div class="card">
                      <div class="card-header">Radar Chart
                        <div class="card-header-actions"><a class="card-header-action" href="http://www.chartjs.org" target="_blank"><small class="text-muted">docs</small></a></div>
                      </div>
                      <div class="card-body">
                        <div class="c-chart-wrapper">
                          <canvas id="node-04"></canvas>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- /.col-->
                  <!-- /.col-->
                  <div class="col-sm-6 col-lg-4">
                    <div class="card">
                      <div class="card-header">Radar Chart
                        <div class="card-header-actions"><a class="card-header-action" href="http://www.chartjs.org" target="_blank"><small class="text-muted">docs</small></a></div>
                      </div>
                      <div class="card-body">
                        <div class="c-chart-wrapper">
                          <canvas id="node-05"></canvas>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- /.col-->
                </div>
              </div>
            </div>
          </div>
        </div>













































        <!-- /.row-->
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">Nodes &amp; Usage</div>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="row">
                      <div class="col-3">
                        <div class="c-callout c-callout-info"><small class="text-muted">CPU usage</small>
                          <div class="text-value-lg">9,123</div>
                        </div>
                      </div>
                      <!-- /.col-->
                      <div class="col-3">
                        <div class="c-callout c-callout-warning"><small class="text-muted">Memory usage</small>
                          <div class="text-value-lg">22,643</div>
                        </div>
                      </div>
                      <!-- /.col-->
                      <div class="col-3">
                        <div class="c-callout c-callout-success"><small class="text-muted">IOPS</small>
                          <div class="text-value-lg">78,623</div>
                        </div>
                      </div>
                      <!-- /.col-->
                      <div class="col-3">
                        <div class="c-callout c-callout-danger"><small class="text-muted">Filesystem</small>
                          <div class="text-value-lg">49,123</div>
                        </div>
                      </div>
                      <!-- /.col-->


                    </div>
                    <!-- /.row-->
                    <hr class="mt-0">



                    <div class="progress-group mb-4">
                      <div class="progress-group-prepend"><span class="progress-group-text">Master 1</span></div>
                      <div class="progress-group-bars">
                        <div class="progress progress-xs">
                          <div class="progress-bar bg-info" role="progressbar" style="width: 34%" aria-valuenow="34" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="progress progress-xs">
                          <div class="progress-bar bg-danger" role="progressbar" style="width: 78%" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="progress progress-xs">
                          <div class="progress-bar bg-warning" role="progressbar" style="width: 78%" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="progress progress-xs">
                          <div class="progress-bar bg-success" role="progressbar" style="width: 78%" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                    </div>

                    <div class="progress-group mb-4">
                      <div class="progress-group-prepend"><span class="progress-group-text">Master 2</span></div>
                      <div class="progress-group-bars">
                        <div class="progress progress-xs">
                          <div class="progress-bar bg-info" role="progressbar" style="width: 34%" aria-valuenow="34" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="progress progress-xs">
                          <div class="progress-bar bg-danger" role="progressbar" style="width: 78%" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="progress progress-xs">
                          <div class="progress-bar bg-warning" role="progressbar" style="width: 78%" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="progress progress-xs">
                          <div class="progress-bar bg-success" role="progressbar" style="width: 78%" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                    </div>

                    <div class="progress-group mb-4">
                      <div class="progress-group-prepend"><span class="progress-group-text">Master 3</span></div>
                      <div class="progress-group-bars">
                        <div class="progress progress-xs">
                          <div class="progress-bar bg-info" role="progressbar" style="width: 34%" aria-valuenow="34" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="progress progress-xs">
                          <div class="progress-bar bg-danger" role="progressbar" style="width: 78%" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="progress progress-xs">
                          <div class="progress-bar bg-warning" role="progressbar" style="width: 78%" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="progress progress-xs">
                          <div class="progress-bar bg-success" role="progressbar" style="width: 78%" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                    </div>

                    <div class="progress-group mb-4">
                      <div class="progress-group-prepend"><span class="progress-group-text">Worker 1</span></div>
                      <div class="progress-group-bars">
                        <div class="progress progress-xs">
                          <div class="progress-bar bg-info" role="progressbar" style="width: 34%" aria-valuenow="34" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="progress progress-xs">
                          <div class="progress-bar bg-danger" role="progressbar" style="width: 78%" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="progress progress-xs">
                          <div class="progress-bar bg-warning" role="progressbar" style="width: 78%" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="progress progress-xs">
                          <div class="progress-bar bg-success" role="progressbar" style="width: 78%" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                    </div>

                    <div class="progress-group mb-4">
                      <div class="progress-group-prepend"><span class="progress-group-text">Worker 2</span></div>
                      <div class="progress-group-bars">
                        <div class="progress progress-xs">
                          <div class="progress-bar bg-info" role="progressbar" style="width: 34%" aria-valuenow="34" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="progress progress-xs">
                          <div class="progress-bar bg-danger" role="progressbar" style="width: 78%" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="progress progress-xs">
                          <div class="progress-bar bg-warning" role="progressbar" style="width: 78%" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="progress progress-xs">
                          <div class="progress-bar bg-success" role="progressbar" style="width: 78%" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                    </div>



                  </div>
                  <!-- /.col-->

                </div>
              </div>
            </div>
          </div>
          <!-- /.col-->
        </div>
        <!-- /.row-->
      </div>
    </div>

{% endblock content %}

{% block javascripts %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="/static/assets/vendors/@coreui/coreui-chartjs/js/coreui-chartjs.bundle.js"></script>
<script src="/static/assets/js/charts.js"></script>
<script src="/static/assets/js/jquery.honeycombs.js"></script>


<script>
	$(document).ready(function() {
	$('.honeycombs').honeycombs({
		combWidth:30,
		margin: 0,
		threshold: 5
	});
});
</script>
{% endblock javascripts %}
