{% extends "base-site.html" %}

{% block title %} Forms {% endblock %} 

{% block content %}

    <div class="container-fluid">
        <div class="fade-in">
          <!-- /.row-->
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header"><strong>Change Cluster</strong> </div>
                <div class="card-body">
                  <div class="card-header">Update file kubeconfig.yml to change the configuration currently cluster</div>
                  <form class="form-horizontal" action="/uploadkubeconfig"  method="POST" enctype="multipart/form-data">
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label" for="file-input">File input</label>
                      <div class="col-md-9">
                        <input id="file-input" type="file" name="kubeconfig" id="kubeconfig">
                      </div>
                    </div>
                    <div class="card-footer">
                      <button class="btn btn-sm btn-primary" type="submit"> Submit</button>
                      <button class="btn btn-sm btn-danger" type="reset"> Reset</button>
                    </div>
                  </form>
                </div>

              </div>
            </div>

            <!-- /.col-->
          </div>
         
        </div>
          <!-- /.row-->
    </div>

{% endblock content %}

{% block javascripts %}
<!-- Specific Page JS goes HERE  -->
{% endblock javascripts %}
