<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="Pystol.org - The fault injection platform">
    <meta name="author" content="pystol.org (@pystol)">
    <meta name="keyword" content="Pystol,Fault injection,Chaos engineering">
    
    <title>
        Pystol.org - {% block title %}{% endblock %}
    </title>

    <!-- Begin icons-->
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/static/assets/favicon/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/assets/favicon/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/assets/favicon/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/assets/favicon/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/static/assets/favicon/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/static/assets/favicon/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/static/assets/favicon/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/static/assets/favicon/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="/static/assets/favicon/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="/static/assets/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="/static/assets/favicon/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/static/assets/favicon/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="/static/assets/favicon/favicon-128.png" sizes="128x128" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="/static/assets/favicon/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="/static/assets/favicon/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="/static/assets/favicon/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="/static/assets/favicon/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="/static/assets/favicon/mstile-310x310.png" />
    <meta name="theme-color" content="#ffffff">
    <!-- End icons-->

    <!-- Icons-->
    <link href="/static/assets/vendors/@coreui/icons/css/free.min.css" rel="stylesheet">
    <link href="/static/assets/vendors/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">

    <!-- Main styles for this application-->
    <link href="/static/assets/css/style.css" rel="stylesheet">
    <link href="/static/assets/vendors/pace-progress/css/pace.min.css" rel="stylesheet">

    <!-- Specific Page CSS goes HERE  -->  
    {% block stylesheets %}{% endblock stylesheets %}

  </head>
  <body class="c-app flex-row align-items-center">

    <div class="container">

        {% block content %}{% endblock content %}
    
    </div>

    {% include 'site_template/scripts.html' %}

    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}{% endblock javascripts %}

  </body>
</html>
