name: nodejs-build

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [8.x, 10.x, 12.x]

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: npm install
      run: |
        npm install --prefix pystol-ui/
    #- name: npm build
    #  run: |
    #    npm run build --if-present --prefix pystol-ui/
    #- name: npm test
    #  run: |
    #    npm test --prefix pystol-ui/
      env:
        CI: true
