      <header class="c-header c-header-light c-header-fixed">

            <button class="c-header-toggler c-class-toggler d-lg-none mr-auto" type="button" data-target="#sidebar" data-class="c-sidebar-show">
                <span class="c-header-toggler-icon"></span>
            </button>
            <a class="c-header-brand d-sm-none" href="#"><img class="c-header-brand" src="/static/assets/brand/pystol-base.svg" width="97" height="46" alt="Pystol"></a>
            <button class="c-header-toggler c-class-toggler ml-3 d-md-down-none" type="button" data-target="#sidebar" data-class="c-sidebar-lg-show" responsive="true">
                <span class="c-header-toggler-icon"></span>
            </button>
            <ul class="c-header-nav d-md-down-none">
              <li class="breadcrumb-item">{{ title }}</li>
            </ul>
            <ul class="c-header-nav ml-auto mr-4">
              <li class="c-header-nav-item d-md-down-none mx-2"><a class="c-header-nav-link" href="https://github.com/pystol/" target="_blank">
                  <svg class="c-icon">
                    <use xlink:href="/static/assets/vendors/@coreui/icons/svg/brand.svg#cib-github"></use>
                  </svg>
                  </a>
              </li>
              <li class="c-header-nav-item d-md-down-none mx-2">
                  <a class="c-header-nav-link" href="https://docs.pystol.org/" target="_blank">
                    <svg class="c-icon">
                      <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-book"></use>
                    </svg>
                  </a>
              </li>
              <li class="c-header-nav-item d-md-down-none mx-2"><a class="c-header-nav-link" href="{{ url_for('base_blueprint.logout') }}">
                  <svg class="c-icon">
                    <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-account-logout"></use>
                  </svg></a>
              </li>
            </ul>
          </header>
