
    <div class="c-sidebar c-sidebar-dark c-sidebar-fixed c-sidebar-lg-show" id="sidebar">
            <div class="c-sidebar-brand"><img class="c-sidebar-brand-full" src="/static/assets/brand/pystol_full.svg" width="118" height="46" alt="CoreUI Logo"><img class="c-sidebar-brand-minimized" src="/static/assets/brand/pystol_compact.svg" width="118" height="46" alt="CoreUI Logo"></div>
            <ul class="c-sidebar-nav">
              <li class="c-sidebar-nav-title">Cluster status</li>

                  <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/index">
                    <svg class="c-sidebar-nav-icon">
                      <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-arrow-right"></use>
                    </svg> System information</a></li>

                  <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/pystol-actions-namespaces">
                    <svg class="c-sidebar-nav-icon">
                      <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-arrow-right"></use>
                    </svg> Namespaces</a></li>

                  <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/pystol-actions-nodes">
                      <svg class="c-sidebar-nav-icon">
                        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-arrow-right"></use>
                      </svg> Nodes</a></li>
                  <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/pystol-actions-pods">
                        <svg class="c-sidebar-nav-icon">
                          <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-arrow-right"></use>
                        </svg> Pods</a></li>
              </li>
              <li class="c-sidebar-nav-title">Pystol</li>
              <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/pystol-actions-executed">
                  <svg class="c-sidebar-nav-icon">
                    <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-arrow-right"></use>
                  </svg> Actions executed</a>
              </li>
              <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/pystol-actions-available">
                  <svg class="c-sidebar-nav-icon">
                    <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-arrow-right"></use>
                  </svg> Actions available</a>
              </li>


              <li class="c-sidebar-nav-title c-sidebar-nav-item mt-auto">About Pystol</li>
              <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/about-pystol">
                  <svg class="c-sidebar-nav-icon">
                    <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-heart"></use>
                  </svg> F.A.Q.</a>
              </li>

              <li class="c-sidebar-nav-title c-sidebar-nav-item">Cluster Utilization</li>

              <li class="c-sidebar-nav-item px-3 c-d-compact-none c-d-minimized-none">
                  <div class="text-uppercase mb-1"><small><b>Pods Usage</b></small></div>
                  <div class="progress progress-xs">
                  <div class="progress-bar bg-info" role="progressbar" style="width: {{ compute_allocated_resources.pods.percentage }}%" aria-valuenow="{{ compute_allocated_resources.pods.percentage }}" aria-valuemin="0" aria-valuemax="100"></div>
                  </div><small class="text-muted">{{ compute_allocated_resources.pods.allocated }}/{{ compute_allocated_resources.pods.allocatable }}</small>
              </li>

              <li class="c-sidebar-nav-item px-3 c-d-compact-none c-d-minimized-none">
                  <div class="text-uppercase mb-1"><small><b>CPU usage</b></small></div>
                  <div class="progress progress-xs">
                  <div class="progress-bar bg-success" role="progressbar" style="width: {{ compute_allocated_resources.cpu.percentage }}%" aria-valuenow="{{ compute_allocated_resources.cpu.percentage }}" aria-valuemin="0" aria-valuemax="100"></div>
                  </div><small class="text-muted">{{ compute_allocated_resources.cpu.allocated }}/{{ compute_allocated_resources.cpu.allocatable }}</small>
              </li>

              <li class="c-sidebar-nav-item px-3 c-d-compact-none c-d-minimized-none">
                  <div class="text-uppercase mb-1"><small><b>Memory Usage</b></small></div>
                  <div class="progress progress-xs">
                  <div class="progress-bar bg-warning" role="progressbar" style="width: {{ compute_allocated_resources.mem.percentage }}%" aria-valuenow="{{ compute_allocated_resources.mem.percentage }}" aria-valuemin="0" aria-valuemax="100"></div>
                  </div><small class="text-muted">{{ compute_allocated_resources.mem.allocated }}/{{ compute_allocated_resources.mem.allocatable }}</small>
              </li>


              <li class="c-sidebar-nav-item px-3 mb-3 c-d-compact-none c-d-minimized-none">
                  <div class="text-uppercase mb-1"><small><b>Filesystem</b></small></div>
                  <div class="progress progress-xs">
                  <div class="progress-bar bg-danger" role="progressbar" style="width: {{ compute_allocated_resources.storage.percentage }}%" aria-valuenow="{{ compute_allocated_resources.storage.percentage }}" aria-valuemin="0" aria-valuemax="100"></div>
                  </div><small class="text-muted">{{ compute_allocated_resources.storage.allocated }}/{{ compute_allocated_resources.storage.allocatable }}</small>
              </li>

              <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href={{ url_for('base_blueprint.logout') }} >
                  <svg class="c-sidebar-nav-icon">
                    <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-account-logout"></use>
                  </svg> Logout</a>
              </li>




            </ul>
            <button class="c-sidebar-minimizer c-class-toggler" type="button" data-target="_parent" data-class="c-sidebar-minimized"></button>
          </div>
